<div class="row">
    <ul class="tabs">
      <li class="tab col s4">
        <a class="active" href="#consulta-compra">CONSULTA DE COMPRA
          <br>
          <ul>
            <li>¿No recibiste la confirmación de compra?</li>
            <li>¿Problemas con tu compra?</li>
            <li>¿No tienes tu ID de compra?</li>
          </ul>
        </a>
      </li>
      <li class="tab col s4">
        <a href="#despachos">DESPACHOS
          <br>
          <ul>
            <li>¿Olvidaste tu ID de tu despacho?</li>
            <li>¿No sabes la fecha de tu despacho?</li>
            <li>¿Tu producto llego en mal estado?</li>
          </ul>
        </a>
      </li>
      <li class="tab col s4">
        <a href="#consultas-reclamos">CONSULTAS Y RECLAMOS
          <br>
          <ul>
            <li>¿Tienes alguna duda?</li>
            <li>¿Quieres compartir algo con nosotros?</li>
            <li>¿Tuviste algún reclamo?</li>
         </ul>
        </a>
      </li>
    </ul>
  </div>
