<div class="taxon" data-hook="taxon">
  <div class="titleCat">
    <h2>
      <%= link_to taxon.name, seo_url(taxon), class: 'breadcrumbs waves-effect waves-orange' %>
    </h2>
    <%= link_to seo_url(taxon), :class => 'waves-effect waves-light right btn' do %>
      <i class="material-icons left">arrow_forward</i> ver mas productos
    <% end %>
    </div>  <%= render partial: 'spree/shared/products', locals: { products: taxon_preview(taxon), taxon: taxon } %>
</div>
