<h1>El pedido se ha registrado</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis autem aspernatur, suscipit sequi sapiente omnis quam harum nihil eaque cupiditate consequatur nostrum, reprehenderit atque, sed tempore nulla maiores voluptate dignissimos.

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptatem nam assumenda eum fugit, facere, iure molestias, iste qui aperiam quae incidunt doloremque laborum explicabo corrupti dolorem iusto in laboriosam.
</p>
