<% @page_title = 'Ventas Internacionales' %>

<h3>KTM-SHOP Internacional </h3>

<p>
  Las compras realizadas fuera del territorio chileno son catalogadas como "Internacionales",
  las cuales serán procesadas mediante un Invoice de pago, con el cual podrás pagar a través de paypal o Moneygram<br>
  Los pedidos internationales realizados a través de KTM-SHOP.CL pueden ser despachados a:
  Argentina,Brasil,Perú y México via courier si tu país no sale mencionados o tienes otra consulta,
  puedes escribirnos haciendo <a href="/contacto">CLICK AQUI</a>
</p>
<div>
  <%=image_tag "img/pasos-internacional.png"%>
</div>

<a class="btn btn-default" href="/products">Seguir comprando</a>
