<% @page_title = 'Términos y Condiciones' %>
<h3>Términos y Condiciones KTM-Shop.cl</h3>

  <strong>GENERALIDADES</strong>
  <p><a href="http://www.spaarwater.cl/" title="Roland Spaarwater Ltda" target="_blank">Roland Spaarwater Ltda</a> en representación de <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> realiza la declaración de términos y condiciones para el sitio de E-Commerce <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> a través del presente documento.
    Las transacciones que se efectúen a través del sitio web <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> (el “Sitio") se sujetan a los presentes términos y condiciones (los “Términos y Condiciones") y a la legislación nacional vigente.
    </p>
  <strong>TERMINOS Y CONDICIONES:</strong>
  <p>Es requisito esencial para comprar en el Sitio la aceptación de los Términos y Condiciones. Al aceptarlos, los usuarios declaran haberse informado de manera clara, comprensible e inequívoca de los mismos, y que han tenido la posibilidad de almacenarlos e imprimirlos.</p>

  <strong>USO DEL SITIO: </strong>
  <p>El Sitio entrega al usuario de forma clara y precisa las instrucciones para realizar las compras a través del Sitio. El solo hecho que el usuario realice las compras siguiendo las instrucciones contenidas en el Sitio demuestra que <a href="http://www.spaarwater.cl/" title="Roland Spaarwater Ltda" target="_blank">Roland Spaarwater Ltda</a> cumple plenamente con lo expresado en este punto.</p>

  <strong>COMUNICACIONES PROMOCIONALES O PUBLICITARIAS: </strong>
  <p>El usuario autoriza el envío de comunicaciones promocionales o publicitarias enviadas por correo electrónico, sin perjuicio de lo anterior, en cualquier tiempo, el usuario podrá solicitar la suspensión de las mismas, haciendo “click" en el link dispuesto para ello, <a href="http://www.spaarwater.cl/" title="Roland Spaarwater Ltda" target="_blank">Roland Spaarwater Ltda</a> puede tardar hasta siete días para procesar tu solicitud.</p>

  <strong>REGISTRO</strong>
  <p>El usuario que desee realizar compras a través del Sitio deberá registrarse señalando datos de carácter personal referidos a su cédula nacional de identidad, dirección y número telefónico. El usuario garantiza la autenticidad, exactitud y vigencia de los datos registrados.  El registro del usuario en el Sitio implica el conocimiento y aceptación de los Términos y Condiciones.</p>

  <strong>POLÍTICAS DE PRIVACIDAD:</strong>
  <p>La información entregada por el usuario será almacenada bajo altos estándares de seguridad, tratada en conformidad a la ley y con el exclusivo propósito de concretar las transacciones en el Sitio y mejorar la labor de información y comercialización de los productos ofrecidos. En ningún caso podrán comunicarse o cederse a terceros, salvo a personas o empresas relacionadas con <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a>.  En caso de compras de productos vendidos directamente por tiendas asociadas se podrán entregar datos personales con el único y exclusivo propósito de realizar el despacho de los productos.  El usuario registrado podrá ejercer sus derechos de información, modificación, eliminación, cancelación y/o bloqueo de sus datos personales cuando lo estime pertinente, según lo establecido en la Ley Nº 19.628 sobre Protección de la Vida Privada.  <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> pone a disposición del usuario una dirección de correo electrónico y los medios tecnológicos en el Sitio a disposición de éste a efectos que se puedan modificar y/o corregir sus datos personales.</p>

  <p><a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> también recoge cierta información sobre su hardware y software. Esta puede incluir: su dirección IP, tipo de browser, sistema operativo, Nombre de Dominio y tiempos de acceso. Esta información se utiliza para la operación del servicio, para mantener la calidad de este, y para proporcionar estadísticas generales con respecto al uso de <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a>.</p>

  <strong>COOKIES EN EL SITIO:</strong>
  <p>Una “cookie" es un pequeño archivo que se almacena en el navegador del usuario al acceder a ciertos sitios web.</p>
  <p><a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> usa “cookies" para mejorar el conocimiento sobre el uso del Sitio y ofrecer información a los clientes respecto a sus preferencias y pautas de navegación.  Las “cookies" son de “sesión" cuando se eliminan una vez que el usuario cierra el navegador Web y “persistente" cuando permanecen en su ordenador durante un periodo de tiempo definido por el responsable de la cookie.  Asimismo las cookies pueden ser propias cuando se gestionan en el mismo Sitio o de terceros, cuando son enviadas al equipo del usuario desde un sitio web diferente.  El Sitio almacena cookies propias como de terceros con el objetivo de adaptar los contenidos a sus intereses y facilitar su acceso.  <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> utiliza “cookies" de terceros para recabar información y someterla a un tratamiento estadístico, para ello, se utilizan los servicios de Google Analytics (el “Servidor"). Una vez que el usuario se conecte nuevamente al Sitio, el Servidor reconocerá el número almacenado en “cookie", según se ha indicado, suministrando información anónima referida. Los procedimientos están gestionados y controlados exclusivamente por Google Analytics.  El usuario podrá, en cualquier momento, revocar el consentimiento para el uso de “cookies" mediante su desactivación, a través de las opciones de privacidad/seguridad de su navegador.<br>Para más información, consulte la ayuda que su navegador le ofrece:<br>
    Internet Explorer.<br>
    Mozilla Firefox.<br>
    Google Chrome.</p>

  <strong>TÁRIFAS DE ENVÍO Y PLAZOS DE ENTREGA:</strong>
  <p>Los productos comprados serán enviados al usuario al domicilio que éste haya señalado al registrarse en el Sitio.<br>
    Todos los despachos tienen un margen de entrega según lo estipula la empresa de encomiendas <a href="http://www.chilexpress.cl/" title="Chilexpress" target="_blank">Chilexpress</a>.<br>
    Es responsabilidad del cliente revisar que el pedido venga en óptimas condiciones y sin adulteraciones al momento de aceptar la recepción por parte de la empresa de encomiendas correspondiente que realiza el despacho, <a href="http://www.chilexpress.cl/" title="Chilexpress" target="_blank">Chilexpress</a>.</p>

  <strong>MEDIOS DE PAGO:</strong>
  <p>Únicamente se podrán utilizar los medios de pago informados en el Sitio.<br>
    Tarjetas de crédito bancarias Visa, Mastercard, Magna, Diners Club International o American Express, emitidas en Chile o en el extranjero.<br>
    Tarjetas de débito bancarias acogidas al sistema Redcompra, emitidas por instituciones financieras nacionales.<br>
    Tarjetas de crédito no bancarias.<br>
    Las compras realizadas por intermedio de alguna de las tarjetas aceptadas en el Sitio, se encontrarán sujetas a lo establecido en los Términos y Condiciones y a las estipulaciones de los respectivos contratos de apertura suscritos por los usuarios con las respectivas entidades financieras o empresas, los cuales predominan frente al presente instrumento. De esta forma, se excluye cualquier tipo de responsabilidad que quisiera asignársele a <a href="http://www.spaarwater.cl/" title="Roland Spaarwater Ltda" target="_blank">Roland Spaarwater Ltda</a> en virtud a dichos contratos. El pago con tarjetas se realizará a través de WebPay, sistemas de pago electrónico que se encargan de hacer el cargo automático a la cuenta bancaria de los usuarios de forma rápida y segura. La información personal de los usuarios es almacenada en servidores o medios magnéticos que mantienen altos estándares de seguridad y, en particular, los datos de las tarjetas de crédito de los usuarios se almacenan de forma encriptada. Roland Spaarwater Ltda no almacena los datos de las tarjetas de crédito registradas por los usuarios al momento de realizar los pagos. Los usuarios podrán, sin expresión de causa y, en cualquier momento, utilizar cualquier medio de pago del Sitio para realizar sus compras.</p>

  <strong>POLÍTICAS DE PRECIOS:</strong>
  <p>Todos los valores son publicados en pesos chilenos (CLP$). Los precios expuestos en <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> podrán ser revisados y modificados sin previo aviso.<br>
    Los valores de los productos se rigen por los valores indicados por el importador oficial de la marca en Chile.<br>
    Los descuentos no son acumulables entre promociones y tampoco son aplicables a promociones ya establecidas.</p>

  <strong>POLÍTICAS DE GARANTÍA, CAMBIO Y DEVOLUCIÓN:</strong>
  <p>Todo producto cuenta con una garantía legal de 3 meses en caso de falla del producto de acuerdo a la ley de protección al consumidor. Esta garantía no aplica para una incorrecta manipulación o desgaste natural por uso.</p>

  <p>Todo uso de garantía se debe notificar a nuestro correo de <a href="mailto:rodrigo@ktm-shop.cl" title="Contacto">Contacto</a> donde posteriormente se le indicará la sucursal donde debe llevar su producto para ser evaluado por nuestro Servicio Técnico.</p>

  <p>En caso de existir una falla en el producto adquirido, el cliente tendrá derecho a optar, dentro de los 3 meses siguientes a su recepción, por alguna de las siguientes alternativas:<br>
    A. Reparación gratuita del producto; o previa restitución del mismo.<br>
    B. Reposición o cambio.<br>
    C. Devolución de la cantidad pagada.</p>

  <p>Los requisitos para cualquier cambio o devolución son los siguientes:<br>
    (a) Solicitarlo dentro de los 3 meses siguientes a la fecha en que se haya recibido el producto, en caso de deficiencias de fabricación, elaboración, materiales o, en caso que el producto no sea enteramente apto para el uso o consumo al que está destinado o al que <a href="http://www.spaarwater.cl/" title="Roland Spaarwater Ltda" target="_blank">Roland Spaarwater Ltda</a> hubiese señalado en su publicidad.<br>
    (b) El producto debe estar sin uso, con etiquetas, en perfectas condiciones y debe tener los embalajes originales.</p>

  <p>Al hacer efectiva la garantía el producto será evaluado por <a href="http://www.spaarwater.cl/" title="Roland Spaarwater Ltda" target="_blank">Roland Spaarwater Ltda</a> en representación de <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> para certificar que la falla o defecto del producto está cubierta por la garantía según la ley de protección al consumidor.</p>

  <p>En caso de declinaciones de compra, el cliente puede anular la transacción siempre y cuando el despacho no se haya realizado. Dicha operación puede ser realizada contactándose a cualquier de nuestros contactos de <a href="mailto:rodrigo@ktm-shop.cl " title="Atención al cliente">Atención al cliente</a>.</p>

  <p><a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a> aceptará la garantía legal siempre y cuando el producto conserve su sellado y embalaje original, así como etiquetas. Los gastos de envío y despacho serán de cargo del cliente.</p>

    <strong>RETIRO EN TIENDA</strong>
     <p>La opción de retiro en tienda se encuentra sólo disponible para los productos correspondientes a Bicicletas de la página
       <a href="http://www.ktm-shop.cl/" title="KTM-Shop.cl" target="_blank">KTM-Shop.cl</a>.</p>
     <p>Para acceder a este servicio se debe realizar la compra de cualquier bicicleta a través de www.ktm-shop.cl en donde podrá
       escoger el lugar de retiro dentro de una lista establecida que ponemos a su disposición.</p>
     <p>El retiro del producto podrá realizarse a contar de tres (3) días hábiles desde la confirmación de la compra en la sucursal escogida de retiro en tienda.
      <br>El o los productos podrán ser retirados sólo por el cliente que realiza la compra.</p>
     <p>Al momento de dirigirse a la tienda, el cliente, debe portar su cédula de identidad y número de orden de compra, el cual será entregado a través del correo de confirmación de compra al momento de finalizarla.</p>
