<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hemos recibido su consulta<br/><br/>
    <p>
      Gracias por contactarte con KTM-Shop.<br/><br/>Le responderemos en un plazo máximo de 48 horas.<br/><br/>Atentamente,<br/><br/>Equipo KTM-Shop.cl
    </p>
  </body>
</html>
