<div class="alert">
      <a class="waves-effect waves-light" href="https://ktm-shop.cl/ofertas">
        <div class="productosOfertas">
          <%= image_tag "ofertas/aviator-2-2-helmet-orange.png" %>
          <%= image_tag "ofertas/kit-rc.jpg" %>
          <%= image_tag "ofertas/REMUS-SLIP-ON-SILENCER.png" %>
        </div>
      </a>
      <div class="actions-promo">
        <a class="waves-effect waves-light" href="https://ktm-shop.cl/ofertas"><span class="title">OFERTAS JUNIO CON 30% DCTO.</span></a>
        <a class="waves-effect waves-light btnBlack" href="https://ktm-shop.cl/ofertas">
          <span>Ver Ofertas</span>
          <i class="material-icons right">keyboard_arrow_right</i>
        </a>
      </div>
      <button type="button" class="close btn-floating" data-dismiss="alert"><i class="material-icons">close</i></button>
    </div>
