<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>


<div id="taxonomies" class="sidebar-item"  data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>

      <% if @taxonomies.first == taxonomy %>
        <h5 class='taxonomy-root titleCat'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h5>
        <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
      <% end %>

    <% end %>
  <% end %>
</div>


<!--<div id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
      <h5 class='taxonomy-root titleCat'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h5>
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
    <% end %>
  <% end %>
</div> -->
